body {
  font-family: "Roboto", sans-serif;
}

.main {
  margin-top: 4rem;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.formPageHeader {
  margin-bottom: 4rem !important;
}

.formPageBackBtn {
  margin-bottom: 24px !important;
}

.react-datepicker-wrapper {
  width: 100%;
}

.small-text {
  font-size: 11px;
  margin-bottom: 2px;
}

.big-totals {
  margin-top: 12px;
  text-align: right;
}

div.big-totals p {
  margin: 0;
  font-size: 1.4rem;
}

.print {
  width: 210mm;
  min-height: 297mm;
  padding: 10mm;
  margin: 10mm auto;
  border: 1px #d3d3d3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

@page {
  size: A4;
  margin: 0;
}

@media print {
  body * {
    visibility: hidden;
  }
  .print,
  .print * {
    visibility: visible;
  }
  .print {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    box-shadow: none;
    border: none;
    margin: 0;
  }
}
